@import url(https://fonts.googleapis.com/css?family=Neucha&subset=cyrillic);

* {
	padding: 0;
	margin: 0;
}
body {
	background: #000 url(../images/background.jpg) repeat-y center;
	background-attachment: fixed;
	font-family: 'Neucha', cursive;
	color: #660000;
}
.row {
	margin-top: 15px;
}
.bg-white-transparent {
	background: rgba(255,255,255, 0.7);
}
.logo {
	display: inline-block;
	width: 291px;
	height: 251px;
	margin-top: 10px;
}
.social-block {
	display: inline-block;
	position: absolute;
	right: 15px;
	bottom: 0;
	padding: 5px 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}
.social-block-fb-logo {
	width: 30px;
	height: 30px;
	border: 1px solid #fff;
	vertical-align: middle;
	opacity: 0.75;
}
.social-block-fb-logo:hover {
	opacity: 1;
}
.text-center {
	text-align: center;
}
.nav-main a {
	text-decoration: none;
	color: #660000;
}
.nav-main li {
	font-size: 36px;
	display: inline-block;
	padding-right: 30px;
	text-shadow: 2px 0px 0px rgba(255, 255, 255, 0.5), 3px 0px 0px rgba(255, 255, 255, 0.4), 4px 0px 0px rgba(255, 255, 255, 0.3), 5px 0px 0px rgba(255, 255, 255, 0.2),
2px 2px 0px rgba(255, 255, 255, 0.5), 3px 3px 0px rgba(255, 255, 255, 0.4), 4px 4px 0px rgba(255, 255, 255, 0.3), 5px 5px 0px rgba(255, 255, 255, 0.2),
0px 2px 0px rgba(255, 255, 255, 0.5), 0px 3px 0px rgba(255, 255, 255, 0.4), 0px 4px 0px rgba(255, 255, 255, 0.3), 0px 5px 0px rgba(255, 255, 255, 0.2),
-2px 2px 0px rgba(255, 255, 255, 0.5), -3px 3px 0px rgba(255, 255, 255, 0.4), -4px 4px 0px rgba(255, 255, 255, 0.3), -5px 5px 0px rgba(255, 255, 255, 0.2),
-2px 0px 0px rgba(255, 255, 255, 0.5), -3px 0px 0px rgba(255, 255, 255, 0.4), -4px 0px 0px rgba(255, 255, 255, 0.3), -5px 0px 0px rgba(255, 255, 255, 0.2),
-2px -2px 0px rgba(255, 255, 255, 0.5), -3px -3px 0px rgba(255, 255, 255, 0.4), -4px -4px 0px rgba(255, 255, 255, 0.3), -5px -5px 0px rgba(255, 255, 255, 0.2),
0px -2px 0px rgba(255, 255, 255, 0.5), 0px -3px 0px rgba(255, 255, 255, 0.4), 0px -4px 0px rgba(255, 255, 255, 0.3), 0px -5px 0px rgba(255, 255, 255, 0.2),
2px -2px 0px rgba(255, 255, 255, 0.5), 3px -3px 0px rgba(255, 255, 255, 0.4), 4px -4px 0px rgba(255, 255, 255, 0.3), 5px -5px 0px rgba(255, 255, 255, 0.2);
}
.nav-main li:hover {
	text-shadow: white 2px 0px, white 2px 2px, white 0px 2px, white -2px 2px, white -2px 0px, white -2px -2px, white 0px -2px, white 2px -2px;
}
.nav-main-dropdown {
	display: inline-block;
}
.nav-main-dropdown-menu {
	display: none;
	position: absolute;
	z-index:100;
}
.nav-main-dropdown:hover .nav-main-dropdown-menu {
	display: block;
}
li.nav-main-dropdown-menu-item {
	font-size: 26px;
	text-align: left;
	display: block;
}
.content-main {
	display: inline-block;
	margin-right: 5px;
	padding: 10px;
	width: 100%;
}
.content-header {
	margin: 15px;
}
.content-right {
	display: inline-block;
	width: 100%;
}
.content-main p {
	font-size: 24px;
	text-align: justify;
	text-indent: 20px;
	margin-top: 0.4em;
	margin-bottom: 0;
	line-height: 1.1em;
}
.partner-img {
	margin: 10px;
}
.copyrights {
	line-height: 36px;
	font-weight: bold;
}
@media (max-width: 970px) {
	.nav-main-dropdown-menu {
		background: rgba(255,255,255, 0.9);
		padding: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
	}
	.partners, .copyrights {
		margin: 0 15px;
	}
	.content-main {
		margin-right: 0;
	}
}
@media (max-width: 767px) {
	.logo {
		width: 250px;
		height: 216px;
	}
	.logo img {
		width: 250px;
		height: 216px;
	}
}
.animal-img {
	display: inline-block;
	opacity: 0.7;
	margin-right: 40px;
}
.login-register {
	display: inline-block;
	position: absolute;
	right: 120px;
	font-family: Helvetica;
}
.login-register-button {
	color: #660000;
	text-decoration: none;
}
.login-register-button:hover {
	text-decoration: underline;
}
.person-before::before {
	content: '';
	position: absolute;
	left: -25px;
	width: 16px;
	height: 16px;
	background: url(../images/person.png);
	background-size: cover;
}
@media (max-width: 992px) {
	.login-register {
		display: block;
		position: static;
	}
}
.shop-cart {
	display: inline-block;
	position: absolute;
	right: 15px;
}
/*
	Cart small
*/
.shop-cart-empty {
	display: inline-block;
	position: absolute;
	right: 0;
	opacity: 0.5;
	width: 75px;
	height: 75px;
	background: url(../images/empty-cart.png);
	background-size: contain;
}
.shop-cart-full {
	display: inline-block;
	background: #D73936;
	border-radius: 50%;
	min-width: 48px;
	min-height: 40px;
	padding: 10px;
}
.shop-cart-full::before {
	content: '';
	display: inline-block;
	position: absolute;
	margin-top: 30px;
	margin-left: -15px;
	opacity: 0.7;
	width: 75px;
	height: 75px;
	background: url(../images/full-cart.png);
	background-size: contain;
}
.shop-cart-items-count {
	font-family: Helvetica;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
}
.shop-cart-order {
	position: relative;
	top: 65px;
}
.shop-cart-buy {
	display: inline-block;

	font-family: Helvetica;
	font-size: 20px;
	text-decoration: none;
	color: #D73936;
	text-shadow: 2px 0px 0px rgba(255, 255, 255, 0.5), 3px 0px 0px rgba(255, 255, 255, 0.4), 4px 0px 0px rgba(255, 255, 255, 0.3), 5px 0px 0px rgba(255, 255, 255, 0.2),
2px 2px 0px rgba(255, 255, 255, 0.5), 3px 3px 0px rgba(255, 255, 255, 0.4), 4px 4px 0px rgba(255, 255, 255, 0.3), 5px 5px 0px rgba(255, 255, 255, 0.2),
0px 2px 0px rgba(255, 255, 255, 0.5), 0px 3px 0px rgba(255, 255, 255, 0.4), 0px 4px 0px rgba(255, 255, 255, 0.3), 0px 5px 0px rgba(255, 255, 255, 0.2),
-2px 2px 0px rgba(255, 255, 255, 0.5), -3px 3px 0px rgba(255, 255, 255, 0.4), -4px 4px 0px rgba(255, 255, 255, 0.3), -5px 5px 0px rgba(255, 255, 255, 0.2),
-2px 0px 0px rgba(255, 255, 255, 0.5), -3px 0px 0px rgba(255, 255, 255, 0.4), -4px 0px 0px rgba(255, 255, 255, 0.3), -5px 0px 0px rgba(255, 255, 255, 0.2),
-2px -2px 0px rgba(255, 255, 255, 0.5), -3px -3px 0px rgba(255, 255, 255, 0.4), -4px -4px 0px rgba(255, 255, 255, 0.3), -5px -5px 0px rgba(255, 255, 255, 0.2),
0px -2px 0px rgba(255, 255, 255, 0.5), 0px -3px 0px rgba(255, 255, 255, 0.4), 0px -4px 0px rgba(255, 255, 255, 0.3), 0px -5px 0px rgba(255, 255, 255, 0.2),
2px -2px 0px rgba(255, 255, 255, 0.5), 3px -3px 0px rgba(255, 255, 255, 0.4), 4px -4px 0px rgba(255, 255, 255, 0.3), 5px -5px 0px rgba(255, 255, 255, 0.2);
}
.shop-cart-buy:hover {
	text-shadow: white 2px 0px, white 2px 2px, white 0px 2px, white -2px 2px, white -2px 0px, white -2px -2px, white 0px -2px, white 2px -2px;
}
.shop-cart-img {
	width: 75px;
	height: 75px;
}
/*
	Cart large
*/
.cart-title {
	margin: 15px 20px;
	font-size: 32px;
	font-weight: bold;
}
.cart-content {
	margin: 20px;
}
.cart-content-table {
	width: 100%;
	border-collapse: collapse;
	border: 0;
	font-family: Arial, sans-serif;
	border-bottom: 1px solid #eee;
}
.cart-content-table-head th {
	padding: 15px 10px;
	border-top: 1px solid #eee;
}
.cart-content-table-body tr {
	border-top: 1px solid #eee;
}
.cart-content-table-body tr:hover {
	background: #eee;
}
.cart-content-table-body td {
	padding: 20px;
	vertical-align: middle;
	text-align: center;
}
.cart-content-table-body a {
	text-decoration: none;
	color: #660000;
}
.cart-content-table-body td:first-child {
	text-align: right;
}
.cart-content-table-body td:nth-child(2) {
	text-align: left;
}
.cart-content-image {
	width: 155px;
	height: 100px;
}
.cart-content-remove {
	width: 15px;
	height: 15px;
	opacity: 0.5;
}
.cart-content-remove:hover {
	opacity: 1.0;
}
.cart-order {
	margin: 20px 0 0 0;
	padding: 20px 30px;
	border: 3px #fff solid;
	font-family: Arial, sans-serif;
	text-align: right;
}
.cart-order-price {
	display: inline-block;
}
.price-data, .price-total-data {
	min-width: 120px;
	font-size: 1.15em;
}
.price-total-data {
	font-weight: bold;
}
@media (max-width: 476px) {
	.shop-cart {
		display: block;
		position: static;
	}
	.shop-cart-full, .shop-cart-empty {
		display: none;
	}
	.shop-cart-order {
		position: static;
	}
	.shop-cart-order::before {
		content: '';
		display: inline-block;
		position: absolute;
		margin-top: -6px;
		margin-left: -40px;
		opacity: 0.7;
		width: 35px;
		height: 35px;
		background: url(../images/full-cart.png);
		background-size: contain;
	}
}
/*
	Products
*/
.product {
	display: inline-block;
	margin: 20px;
	width: 285px;
	height: 250px;
	padding: 15px;
	position: relative;
	background: rgba(255, 255, 255, 0.7);
}
.product-title {
	text-decoration: none;
	color: #660000;
	font-size: 30px;
}
.product-image {
	display: inline-block;
	width: 255px;
	height: 165px;
}
.product:hover {
	background: #fff;
}
.product-buy {
	font-family: Helvetica;
	display: none;
	position: absolute;
	top: 250px;
	left: 0;
	width: 100%;
	padding: 20px;
	background: #fff;
	z-index: 100;
}
.product:hover .product-buy {
	display: block;
}
.product-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}
.product:hover .product-buy-shadow {
	box-shadow: 0 14px 8px 0 rgba(0, 0, 0, 0.3), 0 16px 20px 0 rgba(0, 0, 0, 0.29);
}
.product-buy-form {
	padding: 10px;
}
.product-buy-button {
	display: inline-block;
	margin: 10px 10px;
	padding: 5px 8px;
	font-size: 16px;
	color: #D73936;
	cursor: pointer;
	border: 1px solid #ccc;
	background: #fff;
}
.product-buy-button:hover {
	color: #fff;
	background: #D73936;
	border: 1px solid #D73936;
}
.product-buy-text {
	padding: 5px 8px;
	width: 75px;
	font-size: 14px;
	text-align: right;
	border: 1px solid #ccc;
}
.product-buy-text:focus {
	border: 1px solid #D73936;
}
.product-buy-text:hover {
	border: 1px solid #D73936;
}
/*
	Forms
*/
.form {
	padding: 15px;
}
.form-button {
	display: inline-block;
	margin: 10px 10px;
	padding: 5px 8px;
	font-size: 16px;
	color: #D73936;
	cursor: pointer;
	border: 1px solid #ccc;
	background: #fff;
}
.form-button:hover {
	color: #fff;
	background: #D73936;
	border: 1px solid #D73936;
}
.form-input {
	padding: 5px 8px;
	margin: 5px 0 15px 0;
	font-size: 14px;
	text-align: right;
	border: 1px solid #ccc;
}
.form-input:focus {
	border: 1px solid #D73936;
}
.form-input:hover {
	border: 1px solid #D73936;
}
/*
	Modal cart
*/
.modal-block {
	/*display: none;*/
	background: rgba(0, 0, 0, 0.75);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
}
.cart-content-modal {
	margin: 75px 150px;
	padding: 20px;
	background: rgba(255, 255, 255, 0.99);
	min-width: 600px;
}
.cart-container[data-modal='1'] .modal-block {
	display: none;
}
.cart-container[data-modal='0'] .modal-block {
	display: block;
}
.cart-container {
	display: inline-block;
	position: absolute;
	right: 15px;
}
.checkout-button {
	display: inline-block;
	margin: 10px 10px;
	padding: 5px 8px;
	font-size: 16px;
	color: #D73936;
	cursor: pointer;
	border: 1px solid #ccc;
	background: #fff;
	text-decoration: none;
}
.checkout-button:hover {
	color: #fff;
	background: #D73936;
	border: 1px solid #D73936;
}
.cart-order-continue {
	display: inline-block;
	margin: 10px 10px;
	padding: 5px 8px;
	float: left;
}
.cart-order-continue:after {
	clear: both;
}
.continue-button {
	font-size: 16px;
	color: #777;
}
.continue-button:hover {
	text-decoration: none;
	color: #D73936;
}
.form-overflow {
	overflow: auto;
	height: 375px;
}
.delivery-display {
	margin: 10px 0 0 0;
}