@import url(https://fonts.googleapis.com/css?family=Neucha&subset=cyrillic);

* {
	padding: 0;
	margin: 0;
}
body {
	background: #000 url(../images/background.jpg) repeat-y center;
	background-attachment: fixed;
	font-family: Helvetica, sans-serif;
	color: #660000;
}
.logo {
	display: inline-block;
	width: 291px;
	height: 251px;
	margin-top: 10px;
	margin-left: calc(50% - 145px);
}
.title {
	padding: 15px 0;
	font-size: 24px;
}
.partners {
	text-align: center;
	padding: 10px 0;
}
.partners__image {
	margin: 10px;
	padding: 10px 6px;
	border: 1px solid #eee;
	opacity: .85;
}
.partners__image:hover {
	border: 1px solid #ccc;
	opacity: 1;
}
.copyrights {
	text-align: center;
	padding: 15px 0;
}
@media (max-width: 767px) {
	.logo {
		width: 250px;
		height: 216px;
	}
	.logo img {
		width: 250px;
		height: 216px;
	}
}
.bg-white-transparent {
	background: rgba(255,255,255, 0.7);
}
.bg-white {
	background: rgb(255,255,255) !important;
}
.shadow {
	text-shadow: 2px 0px 0px rgba(255, 255, 255, 0.5), 3px 0px 0px rgba(255, 255, 255, 0.4), 4px 0px 0px rgba(255, 255, 255, 0.3), 5px 0px 0px rgba(255, 255, 255, 0.2),
2px 2px 0px rgba(255, 255, 255, 0.5), 3px 3px 0px rgba(255, 255, 255, 0.4), 4px 4px 0px rgba(255, 255, 255, 0.3), 5px 5px 0px rgba(255, 255, 255, 0.2),
0px 2px 0px rgba(255, 255, 255, 0.5), 0px 3px 0px rgba(255, 255, 255, 0.4), 0px 4px 0px rgba(255, 255, 255, 0.3), 0px 5px 0px rgba(255, 255, 255, 0.2),
-2px 2px 0px rgba(255, 255, 255, 0.5), -3px 3px 0px rgba(255, 255, 255, 0.4), -4px 4px 0px rgba(255, 255, 255, 0.3), -5px 5px 0px rgba(255, 255, 255, 0.2),
-2px 0px 0px rgba(255, 255, 255, 0.5), -3px 0px 0px rgba(255, 255, 255, 0.4), -4px 0px 0px rgba(255, 255, 255, 0.3), -5px 0px 0px rgba(255, 255, 255, 0.2),
-2px -2px 0px rgba(255, 255, 255, 0.5), -3px -3px 0px rgba(255, 255, 255, 0.4), -4px -4px 0px rgba(255, 255, 255, 0.3), -5px -5px 0px rgba(255, 255, 255, 0.2),
0px -2px 0px rgba(255, 255, 255, 0.5), 0px -3px 0px rgba(255, 255, 255, 0.4), 0px -4px 0px rgba(255, 255, 255, 0.3), 0px -5px 0px rgba(255, 255, 255, 0.2),
2px -2px 0px rgba(255, 255, 255, 0.5), 3px -3px 0px rgba(255, 255, 255, 0.4), 4px -4px 0px rgba(255, 255, 255, 0.3), 5px -5px 0px rgba(255, 255, 255, 0.2);
}
.shadow:hover {
	text-shadow: white 2px 0px, white 2px 2px, white 0px 2px, white -2px 2px, white -2px 0px, white -2px -2px, white 0px -2px, white 2px -2px;
}
.shadow-gray {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}
/*

	OLD Staff

*/
/*
	Products
*/
.product {
	display: inline-block;
	margin: 20px;
	width: 285px;
	height: 250px;
	position: relative;
	background: rgba(255, 255, 255, 0.7);
}
.product-link {
	text-decoration: none;
}
.product-title {
	text-decoration: none;
	color: #660000;
	font-size: 30px;
	display: block;
	position: absolute;
	top: 10px;
	bottom: -5px;
	overflow: hidden;
}
.product-title_small {
	font-size: 22px;
}
.product-image {
	display: inline-block;
	width: 255px;
	height: 165px;
}
.product:hover {
	background: #fff;
}
.product-buy {
	display: none;
	position: absolute;
	top: 250px;
	left: 0;
	width: 100%;
	padding: 20px;
	background: #fff;
	z-index: 100;
}
.product:hover .product-buy {
	display: block;
}
.product-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}
.product:hover .product-buy-shadow {
	box-shadow: 0 14px 8px 0 rgba(0, 0, 0, 0.3), 0 16px 20px 0 rgba(0, 0, 0, 0.29);
}
.product-buy-form {
	padding: 10px;
}
.product-buy-button {
	display: inline-block;
	margin: 10px 10px;
	padding: 5px 8px;
	font-size: 16px;
	color: #D73936;
	cursor: pointer;
	border: 1px solid #ccc;
	background: #fff;
}
.product-buy-button:hover {
	color: #fff;
	background: #D73936;
	border: 1px solid #D73936;
}
.product-buy-text {
	padding: 5px 8px;
	width: 75px;
	font-size: 14px;
	text-align: right;
	border: 1px solid #ccc;
}
.product-buy-text:focus {
	border: 1px solid #D73936;
}
.product-buy-text:hover {
	border: 1px solid #D73936;
}
/*
	Forms
*/
.form {
	padding: 15px;
}
.form-button {
	display: inline-block;
	margin: 10px 10px;
	padding: 5px 8px;
	font-size: 16px;
	color: #D73936;
	cursor: pointer;
	border: 1px solid #ccc;
	background: #fff;
}
.form-button:hover {
	color: #fff;
	background: #D73936;
	border: 1px solid #D73936;
}
.form-input {
	padding: 5px 8px;
	margin: 5px 0 15px 0;
	font-size: 14px;
	text-align: right;
	border: 1px solid #ccc;
}
.form-input:focus {
	border: 1px solid #D73936;
}
.form-input:hover {
	border: 1px solid #D73936;
}
.continue-button {
	font-size: 16px;
	color: #777;
}
.continue-button:hover {
	text-decoration: none;
	color: #D73936;
}
.form-overflow {
	overflow: auto;
	height: calc(100% - 180px);
}
.delivery-display {
	margin: 10px 0 0 0;
}
.error-message, .error {
	color: #f00;
	font-size: 12px !important;
}
.success-message {
	font-size: 14px;
	color: #f00;
	text-align: center;
}
.fb-login {
	padding: 50px 0 0 0;
}
.change-address {
	text-align: left;
	font-size: 16px;
}
.breadcrumbs {
	padding: 5px 15px;
	font-size: 20px;
	padding-left: 110px;
}
@media (max-width: 476px) {
	.breadcrumbs {
		padding-left: 55px;
	}
}