@import url(https://fonts.googleapis.com/css?family=Neucha&subset=cyrillic);

* {
	padding: 0;
	margin: 0;
}
body {
	background: #000 url(../images/background.jpg) repeat-y center;
	background-attachment: fixed;
	font-family: Helvetica, sans-serif;
	color: #660000;
}
.logo {
	display: inline-block;
	width: 291px;
	height: 251px;
	margin-top: 10px;
	margin-left: calc(50% - 145px);
}
@media (max-width: 767px) {
	.logo {
		width: 250px;
		height: 216px;
	}
	.logo img {
		width: 250px;
		height: 216px;
	}
}
.breadcrumbs {
	padding: 5px 15px;
	font-size: 20px;
	padding-left: 110px;
}
@media (max-width: 476px) {
	.breadcrumbs {
		padding-left: 55px;
	}
}
.bg-white-transparent {
	background: rgba(255,255,255, 0.7);
}
.bg-white {
	background: rgb(255,255,255) !important;
}
.shadow {
	text-shadow: 2px 0px 0px rgba(255, 255, 255, 0.5), 3px 0px 0px rgba(255, 255, 255, 0.4), 4px 0px 0px rgba(255, 255, 255, 0.3), 5px 0px 0px rgba(255, 255, 255, 0.2),
2px 2px 0px rgba(255, 255, 255, 0.5), 3px 3px 0px rgba(255, 255, 255, 0.4), 4px 4px 0px rgba(255, 255, 255, 0.3), 5px 5px 0px rgba(255, 255, 255, 0.2),
0px 2px 0px rgba(255, 255, 255, 0.5), 0px 3px 0px rgba(255, 255, 255, 0.4), 0px 4px 0px rgba(255, 255, 255, 0.3), 0px 5px 0px rgba(255, 255, 255, 0.2),
-2px 2px 0px rgba(255, 255, 255, 0.5), -3px 3px 0px rgba(255, 255, 255, 0.4), -4px 4px 0px rgba(255, 255, 255, 0.3), -5px 5px 0px rgba(255, 255, 255, 0.2),
-2px 0px 0px rgba(255, 255, 255, 0.5), -3px 0px 0px rgba(255, 255, 255, 0.4), -4px 0px 0px rgba(255, 255, 255, 0.3), -5px 0px 0px rgba(255, 255, 255, 0.2),
-2px -2px 0px rgba(255, 255, 255, 0.5), -3px -3px 0px rgba(255, 255, 255, 0.4), -4px -4px 0px rgba(255, 255, 255, 0.3), -5px -5px 0px rgba(255, 255, 255, 0.2),
0px -2px 0px rgba(255, 255, 255, 0.5), 0px -3px 0px rgba(255, 255, 255, 0.4), 0px -4px 0px rgba(255, 255, 255, 0.3), 0px -5px 0px rgba(255, 255, 255, 0.2),
2px -2px 0px rgba(255, 255, 255, 0.5), 3px -3px 0px rgba(255, 255, 255, 0.4), 4px -4px 0px rgba(255, 255, 255, 0.3), 5px -5px 0px rgba(255, 255, 255, 0.2);
}
.shadow:hover {
	text-shadow: white 2px 0px, white 2px 2px, white 0px 2px, white -2px 2px, white -2px 0px, white -2px -2px, white 0px -2px, white 2px -2px;
}
.shadow-gray_hover {
	transition: box-shadow .3s;
}
.shadow-gray, .shadow-gray_hover:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}
.shadow-strong-gray {
	box-shadow: 0 14px 8px 0 rgba(0, 0, 0, 0.3), 0 16px 20px 0 rgba(0, 0, 0, 0.29);
}
.message {
	padding: 15px;
}
.message_success {
	font-size: 14px;
	color: #f00;
	text-align: center;
}
.message_error, .error {
	color: #f00;
	font-size: 14px !important;
}
/*

	OLD Staff

*/
/*
	Forms
*/
.form {
	padding: 15px;
}
.form-button {
	display: inline-block;
	margin: 10px 10px;
	padding: 5px 8px;
	font-size: 16px;
	color: #D73936;
	cursor: pointer;
	border: 1px solid #ccc;
	background: #fff;
}
.form-button:hover {
	color: #fff;
	background: #D73936;
	border: 1px solid #D73936;
}
.form-input {
	padding: 5px 8px;
	margin: 5px 0 15px 0;
	font-size: 14px;
	text-align: right;
	border: 1px solid #ccc;
}
.form-input:focus {
	border: 1px solid #D73936;
}
.form-input:hover {
	border: 1px solid #D73936;
}
.continue-button {
	font-size: 16px;
	color: #777;
}
.continue-button:hover {
	text-decoration: none;
	color: #D73936;
}
.form-overflow {
	overflow: auto;
	height: calc(100% - 180px);
}
.delivery-display {
	margin: 10px 0 0 0;
}
.error-message, .error {
	color: #f00;
	font-size: 12px !important;
}
.success-message {
	font-size: 14px;
	color: #f00;
	text-align: center;
}
.change-address {
	text-align: left;
	font-size: 16px;
}