.key-value {
	margin: 5px;
	padding: 25px;
	background: rgba(255, 255, 255, 0.7);
}
.key-value__key {
	margin: 25px 0 0 0;
}
.key-value__key_first {
	margin-top: 5px;
}
.key-value_value {
	margin: 5px;
	padding: 10px;
	text-align: right;
	font-size: 1.2em;
	border-bottom: 1px solid #777;
}
.key-value_value_last {
	margin-bottom: 5px;
}