.key-value {
	margin: 0;
}
.key-value__key {
	text-align: left;
	font-size: 16px;
	margin: 25px 0 5px 0;
}
.key-value__key_first {
	margin-top: 0;
}
.key-value__value {
	text-align: right;
	font-size: 1.2em;
}
.key-value__value_border-top {
	border-top: 1px solid #777;
	padding: 10px 0 0 0;
}
.key-value__value_border-bottom {
	border-bottom: 1px solid #777;
	padding: 0 0 10px 0;
}
.key-value__value_last {
	margin-bottom: 25px;
}
.key-value__value_bold {
	font-weight: bold;
}
