.form {
	padding: 0;
	text-align: left;
}
.form_display_hidden {
	display: none;
}
.form__select {
	width: 100%;
	font-size: 1.4em;
}
.order-form__text {
	padding: 10px 0 0 0;
	font-size: .6em;
	text-align: left;
}
.form__textarea {
	width: 100%;
	min-height: 100px;
}