.cart {
	margin: auto;
	padding: 15px;
	width: 96%;
	background: rgba(255, 255, 255, 0.7);
	height: 100%;
}
.cart__title {
	padding: 10px 0 5px 10px;
	border-bottom: 1px solid #777;
	border-top: 1px solid #777;
}
.cart__title_large {
	font-size: 22px;
}
.cart__title_center {
	text-align: center;
}
.cart-item {
	margin: 15px 0;
	position: relative;
	height: 65px;
}
.cart-item_large {
	margin: 20px 0;
	height: 100px;
}
.cart-item__image {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}
.cart-item__img {
	width: 100px;
	height: 65px;
}
.cart-item__img_large {
	width: 155px;
	height: 100px;
}
.cart-item__content {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100% - 105px);
}
.cart-item__content_large {
	margin: 30px 0;
	width: calc(100% - 165px);
}
.cart-item__name {
	font-size: .8em;
	font-weight: bold;
}
.cart-item__name_large {
	display: inline-block;
	margin: 0 5px 0 0;
	width: calc(100% - 85px - 162px - 110px - 20px - 15px - 20px);
	font-size: 1.1em;
}
.cart-item__price {
	font-size: .8em;
}
.cart-item__price_large {
	display: inline-block;
	margin: 0 5px 0 0;
	font-size: 1.1em;
	text-align: right;
	min-width: 85px;
}
.cart-item__count {
	display: inline-block;
	padding: 5px 0;
}
.cart-item__count_large {
	min-width: 162px;
}
.cart-item__total-price {
	display: inline-block;
	font-size: .9em;
	float: right;
	margin: 0 5px 0 0;
}
.cart-item__total-price_large {
	font-size: 1.2em;
	margin: 0 5px 0 0;
	min-width: 110px;
	text-align: right;
	float: none;
}
.cart-item__total-price:after {
	clear: both;
}
@media (max-width: 1024px) {
	.cart-item_large {
		margin: 15px 0;
		height: 65px;
	}
	.cart-item__img_large {
		width: 100px;
		height: 65px;
	}
	.cart-item__content_large {
		margin: 0;
		width: calc(100% - 105px);
	}
	.cart-item__name_large {
		display: block;
	}
	.cart-item__price_large {
		width: calc(100% - 162px - 110px - 20px - 15px - 20px);	
	}
}
