.order-form {
	margin: 10px auto;
	padding: 20px;
	width: 75%;
	background: rgba(255, 255, 255, 0.7);
}
.order-form_align_center {
	text-align: center;
}
.order-form__top {
	text-align: center;
	margin: 0 0 10px 0;
}
.order-form__link {
	color: #D73936;
}
.order-form__link_margin {
	margin: 0 15px 0;
}
.order-form__link:hover {
	text-decoration: none;
}
.order-form__link_small {
	font-size: .8em;
}
.order-form__link_gray {
	color: #888;
}
.order-form__link_gray:hover {
	color: #D73936;
}
.order-form__link_dimmed {
	color: #888;
	text-decoration: none;
}