.button {
	display: inline-block;
	padding: 5px 8px;
	color: #D73936;
	cursor: pointer;
	border: 1px solid #ccc;
	background: #fff;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}
.button:hover {
	color: #fff;
	background: #D73936;
	border: 1px solid #D73936;
}
.button__small {
	font-size: 12px;
	margin: 0 0;
	padding: 1px 4px;
	width: 17px;
	height: 18px;
}
.button_wide {
	width: 100%;
}
.button_first {
	margin-top: 10px;
}
.button_last {
	margin-bottom: 10px;
}
.button_margins {
	margin: 10px;
}
