.product {
	display: inline-block;
	margin: 0 30px 30px 0;
	width: 285px;
	height: 250px;
	position: relative;
	background: rgba(255, 255, 255, 0.7);
}
.product:hover {
	background: #fff;
}
.product_small {
	margin: 0 20px 0 0;
	width: 200px;
	height: 175px;
	border: 1px solid #ccc;
}
.product__title {
	display: block;
	position: absolute;
	top: 180px;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 15px;
	text-align: center;
	overflow: hidden;
}
.product__title_small {
	top: 126px;
	padding: 5px;
}
.product__title_x_small {
	font-size: 16px;
}
.product__link {
	text-decoration: none;
	color: #660000;
	font-size: 20px;
}
.product__link_small {
	font-size: 12px;
}
.product__image-container {
	display: block;
	position: absolute;
	top: 15px;
	left: 15px;
	overflow: hidden;
}
.product__image-container_small {
	top: 10px;
	left: 10px;
}
.product__image {
	width: 255px;
	height: 165px;
}
.product__image_small {
	width: 179px;
	height: 116px;
}
.product__price {
	font-size: 36px;
	font-weight: bold;
	color: #D73936;
}
.product__details {
	display: none;
	position: absolute;
	top: 250px;
	width: 100%;
	padding: 20px;
	background: #fff;
	z-index: 100;
}
.product:hover .product__details {
	display: block;
}
.button_product {
	width: 142px;
}